.search-form {
   background-color: rgb(77, 77, 253);
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: center;
}

.js-gallery-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
.photo-card {
   margin: 10px;
}

.load-more {
   display: block;
   margin: 10px auto;
}

.hidden {
   position: absolute; 
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}